extends layout

block layout-content
  div.uk-container-large.uk-padding-large.uk-align-center
    .heading
        h1.uk-heading-medium Boba Tracker - 2021
        hr
    .section
        .uk-grid
            .uk-width-auto
                h2 Bobas consumed: 
            .uk-width-auto
                h2
                    span#boba-count.insert
        .uk-grid
            .uk-width-auto
                h2 Money spent:
            .uk-width-auto
                h2
                    span#money-spent.insert