block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.6.10/dist/css/uikit.min.css')
    style
        include ./style.css
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Boba Tracker 2021
  body
    block layout-content

script
    include ./js/main.js
script(src="https://cdn.jsdelivr.net/npm/uikit@3.6.10/dist/js/uikit.min.js")
script(src="https://cdn.jsdelivr.net/npm/uikit@3.6.10/dist/js/uikit-icons.min.js")