@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
h1 {
    font-family: "Roboto Condensed" !important;
    letter-spacing: 0.1em;
    color: #363636 !important;
}

h2 {
    font-family: "Roboto Condensed" !important;
    letter-spacing: 0.1em;
    color: #363636 !important;
    padding-top: 0;
    margin-top: 0;
}

.section {
    padding-top: 3%;
}

.button-container {
    padding-top: 4%;
}

button {
    font-family: "Roboto Condensed" !important;
    letter-spacing: 0.1em;
    color: #363636 !important;
    font-weight: 700;
}

.insert {
    color: #408b4d !important;
}