@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
h1 {
    font-family: "Roboto Condensed" !important;
    letter-spacing: 0.1em;
    color: #363636 !important;
}

.section {}

h2 {
    font-family: "Roboto Condensed" !important;
    letter-spacing: 0.1em;
    color: #363636 !important;
    padding-top: 0;
    margin-top: 0;
}

.insert {
    color: #db5959 !important;
}